
* {
  margin: 0;
  padding: 0;
}
#root {

  text-align: center;
}

body{
background-image: url("https://img.freepik.com/vecteurs-libre/fond-jeu-video-dessine-main_23-2150307794.jpg?t=st=1744042900~exp=1744046500~hmac=b50bf3d42afd09c1324d2f735cf8e2789fb3e3d3ecd28dc7abb7c19ca5ecb31e&w=996");
background-position: 'center';
background-size: cover;
background-repeat: no-repeat;
width: 100%;
}

nav {
  background-color: rgba(7, 7, 7, 0.821);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  gap: 1rem;
}
.superMario{
  height: 25vh;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1em;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin: 8em;
  padding-left: 10vh;
  padding-right: 10vh;
}
.CardItem{
  padding: 3rem;
  width: 18em;
  border: 5px solid black;
}
img {
  height: 40vh;
}
.CardItemInfo{
  display: flex;
  flex-direction: column;
}

footer{
  background-color: rgb(7, 7, 7);
  background-size: cover;
  width: 100%;
  height: 3vh;
}
.marioHead{
  height: 15vh;
  display: flex;
  position: absolute;
  padding-left: 80vh;
}